<nav class="navbar navbar-default navbar-fixed-right">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">
        <img src="http://via.placeholder.com/80x80">
        <h4>Heba Bahaa</h4>
      </a> -->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/"><i class="fa fa-thumb-tack"></i>ثوابت النظام</a></li>
        <li><a routerLink="/entities"><i class="fa fa-arrows"></i>تقسيمات الجهات</a></li>
        <li><a routerLink="/data"><i class="fa fa-file"></i>بيانات الرخص</a></li>
        <li><a routerLink="/levels"><i class="fa fa-book"></i>مكونات المنهج</a></li>
        <li><a routerLink="/evaluations"><i class="fa fa-star-half-o"></i>مكتبة التقييمات</a></li>
      </ul>
    </div>
  </div>
</nav>
